In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import sklearn.preprocessing as skpb

In [2]:
#Reading the data
data=pd.read_csv(r'C:\Users\pmt2\Documents\GitHub\GA-Projects\unit-4_project\Car data set for project_GA.csv')
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [3]:
#Description of data
data.describe(include='all')

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
count,11914,11914,11914.000000,11911,11845.00000,11884.000000,11914,11914,11908.000000,8172,11914,11914,11914.000000,11914.000000,11914.000000,1.191400e+04
unique,48,915,NaN,10,NaN,NaN,5,4,NaN,71,3,16,NaN,NaN,NaN,NaN
top,Chevrolet,Silverado 1500,NaN,regular unleaded,NaN,NaN,AUTOMATIC,front wheel drive,NaN,Crossover,Compact,Sedan,NaN,NaN,NaN,NaN
freq,1123,156,NaN,7172,NaN,NaN,8266,4787,NaN,1110,4764,3048,NaN,NaN,NaN,NaN
mean,NaN,NaN,2010.384338,NaN,249.38607,5.628829,NaN,NaN,3.436093,NaN,NaN,NaN,26.637485,19.733255,1554.911197,4.059474e+04
std,NaN,NaN,7.579740,NaN,109.19187,1.780559,NaN,NaN,0.881315,NaN,NaN,NaN,8.863001,8.987798,1441.855347,6.010910e+04
min,NaN,NaN,1990.000000,NaN,55.00000,0.000000,NaN,NaN,2.000000,NaN,NaN,NaN,12.000000,7.000000,2.000000,2.000000e+03
25%,NaN,NaN,2007.000000,NaN,170.00000,4.000000,NaN,NaN,2.000000,NaN,NaN,NaN,22.000000,16.000000,549.000000,2.100000e+04
50%,NaN,NaN,2015.000000,NaN,227.00000,6.000000,NaN,NaN,4.000000,NaN,NaN,NaN,26.000000,18.000000,1385.000000,2.999500e+04
75%,NaN,NaN,2016.000000,NaN,300.00000,6.000000,NaN,NaN,4.000000,NaN,NaN,NaN,30.000000,22.000000,2009.000000,4.223125e+04
max,NaN,NaN,2017.000000,NaN,1001.00000,16.000000,NaN,NaN,4.000000,NaN,NaN,NaN,354.000000,137.000000,5657.000000,2.065902e+06

In [4]:
#Reviewing of data types
data.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [5]:
#Converting the numbered categorical data into object type
data['Year']=data['Year'].astype('category')
data['Engine Fuel Type']=data['Engine Fuel Type'].astype('category')
data['Number of Doors']=data['Number of Doors'].astype('category')
data['Engine Cylinders']=data['Engine Cylinders'].astype('category')
data.describe(include='all')

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
count,11914,11914,11914.0,11911,11845.00000,11884.0,11914,11914,11908.0,8172,11914,11914,11914.000000,11914.000000,11914.000000,1.191400e+04
unique,48,915,28.0,10,NaN,9.0,5,4,3.0,71,3,16,NaN,NaN,NaN,NaN
top,Chevrolet,Silverado 1500,2015.0,regular unleaded,NaN,4.0,AUTOMATIC,front wheel drive,4.0,Crossover,Compact,Sedan,NaN,NaN,NaN,NaN
freq,1123,156,2170.0,7172,NaN,4752.0,8266,4787,8353.0,1110,4764,3048,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,249.38607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.637485,19.733255,1554.911197,4.059474e+04
std,NaN,NaN,NaN,NaN,109.19187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.863001,8.987798,1441.855347,6.010910e+04
min,NaN,NaN,NaN,NaN,55.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,7.000000,2.000000,2.000000e+03
25%,NaN,NaN,NaN,NaN,170.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.000000,16.000000,549.000000,2.100000e+04
50%,NaN,NaN,NaN,NaN,227.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.000000,18.000000,1385.000000,2.999500e+04
75%,NaN,NaN,NaN,NaN,300.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.000000,22.000000,2009.000000,4.223125e+04
max,NaN,NaN,NaN,NaN,1001.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,354.000000,137.000000,5657.000000,2.065902e+06

In [6]:
#Missing value treatment
data['Market Category']=data['Market Category'].fillna('missing')
#There are 3728 missing values are there which is  31.56%
# Hence it would not be a good idea to impute it instead it would be better to treat it as seperate observed category

In [8]:
data.describe(include='all')

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
count,11914,11914,11914.0,11911,11845.00000,11884.0,11914,11914,11908.0,11914,11914,11914,11914.000000,11914.000000,11914.000000,1.191400e+04
unique,48,915,28.0,10,NaN,9.0,5,4,3.0,72,3,16,NaN,NaN,NaN,NaN
top,Chevrolet,Silverado 1500,2015.0,regular unleaded,NaN,4.0,AUTOMATIC,front wheel drive,4.0,missing,Compact,Sedan,NaN,NaN,NaN,NaN
freq,1123,156,2170.0,7172,NaN,4752.0,8266,4787,8353.0,3742,4764,3048,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,249.38607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.637485,19.733255,1554.911197,4.059474e+04
std,NaN,NaN,NaN,NaN,109.19187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.863001,8.987798,1441.855347,6.010910e+04
min,NaN,NaN,NaN,NaN,55.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,7.000000,2.000000,2.000000e+03
25%,NaN,NaN,NaN,NaN,170.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.000000,16.000000,549.000000,2.100000e+04
50%,NaN,NaN,NaN,NaN,227.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.000000,18.000000,1385.000000,2.999500e+04
75%,NaN,NaN,NaN,NaN,300.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.000000,22.000000,2009.000000,4.223125e+04
max,NaN,NaN,NaN,NaN,1001.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,354.000000,137.000000,5657.000000,2.065902e+06

In [9]:
data=data.dropna()

In [10]:
data.describe(include='all')

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
count,11812,11812,11812.0,11812,11812.000000,11812.0,11812,11812,11812.0,11812,11812,11812,11812.000000,11812.000000,11812.000000,1.181200e+04
unique,47,904,28.0,9,NaN,9.0,5,4,3.0,71,3,16,NaN,NaN,NaN,NaN
top,Chevrolet,Silverado 1500,2015.0,regular unleaded,NaN,4.0,AUTOMATIC,front wheel drive,4.0,missing,Compact,Sedan,NaN,NaN,NaN,NaN
freq,1115,156,2152.0,7155,NaN,4743.0,8231,4732,8263.0,3728,4708,3013,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,249.504487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.320945,19.328141,1553.679902,4.055994e+04
std,NaN,NaN,NaN,NaN,109.206947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.443589,6.527734,1440.067820,6.028413e+04
min,NaN,NaN,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000000,7.000000,2.000000,2.000000e+03
25%,NaN,NaN,NaN,NaN,170.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.000000,16.000000,549.000000,2.099000e+04
50%,NaN,NaN,NaN,NaN,227.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.000000,18.000000,1385.000000,2.997000e+04
75%,NaN,NaN,NaN,NaN,300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.000000,22.000000,2009.000000,4.220500e+04
max,NaN,NaN,NaN,NaN,1001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,354.000000,137.000000,5657.000000,2.065902e+06